html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  --theme-color: #4169e1;
}

html.dark {
  --theme-color: #ff9800;
}

:root {
  --header-height: max(50vh, 400px);
}

/* header */
@media (max-width: 640px) {
  .xlog-site-info:hover {
    transform: scale(1.03);
    -webkit-font-smoothing: antialiased;
  }
}

.dark .xlog-banner {
  filter: brightness(40%);
}

.xlog-site-name {
  color: var(--theme-color);
  font-size: 35px;
}

@media (min-width: 640px) {
  .xlog-site-info {
    border: 1px solid #fff;
    transition: 0.3s ease;
  }
}

.xlog-site-info {
  border: none;
}

/* background */
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='8' fill='none' stroke='rgb(0 0 0 / 0.1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.dark body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='8' fill='none' stroke='rgb(255 255 255 / 0.1)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

/* post */
.xlog-post {
  background-color: rgb(var(--tw-color-white) / var(--tw-text-opacity));
}

/* footer  */
footer {
  position: relative;
  margin-top: 280px;
}

footer:before {
  content: " ";
  background: url(https://fastly.jsdelivr.net/gh/sun0225SUN/xlog-custom-css/images/footer.png)
    center/contain no-repeat;
  height: 368px;
  width: 100%;
  display: block;
  position: absolute;
  top: -295px;
  left: 0;
  pointer-events: none;
}

footer {
  background-color: rgb(var(--tw-color-white) / var(--tw-text-opacity));
}
